<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657125110906-dtmvn4f7b5fccjc7jj37fui40nvv91sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657125110906-dtmvn4f7b5fccjc7jj37fui40nvv91sl</string>
	<key>API_KEY</key>
	<string>AIzaSyBWfwjvMMPwIqCueoSwSkqmn9E8jX9SQec</string>
	<key>GCM_SENDER_ID</key>
	<string>657125110906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ttun.refrigerator</string>
	<key>PROJECT_ID</key>
	<string>ttun-ef3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>ttun-ef3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657125110906:ios:7267e8d8e51ae4e21a37c3</string>
</dict>
</plist>